<p> From Users Component </p>
<p> From Users Component </p>
<p> From Users Component </p>
<p> From Users Component </p>
<p> From Users Component </p>
<p>{{name}}</p>
<!-- <button [disabled]="isEnabled">Add Users</button> -->
<button>Add</button>
<!-- <input type="text" (input)="onInputChanged($event)" > //event binding -->
<input type="text" [(ngModel)]="name" title="input"/><!--  two way binding -->

<hr><hr>

<!-- <label [disabled]="isShow" [(ngModel)]="isShow">Please Enter Your username </label>
<label [disabled]="isShow" [(ngModel)]="isShow"> Welcome {{username}}</label><br>


<label for=""> Username </label>
<input type="text" [(ngModel)]="username" title="username" name="" id=""><br>
<label for=""> Enter Password </label>
<input type="text" [(ngModel)]="pass" title="pass" name="" id=""><br>
<label for=""> Retype Password </label>
<input type="text" [(ngModel)]="repas" title="repass" name="" id=""><br>
<label [disabled]="isset" [(ngModel)]="isset">password do no match !!! </label> -->
